@{
    ViewBag.Title = "Home Page";
}
<div class="navbar-archiwum">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <ul class="nav nav-tabs" role="tablist">
                    <li><a class="head-link" href="#section2">Wystawa</a></li>
                    <li><a class="head-link" href="#section3">Archiwum</a></li>
                    @*<li><a class="head-link" href="#section4">Galeria</a></li>*@
                    <li><a class="head-link" href="#section5">Katalog</a></li>
                    <li><a class="head-link" href="#section6">Kontakt</a></li>
                    <li><a class="head-link" href="#section7">Partnerzy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="section1">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <img src="~/Content/Images/baner1.jpg" />
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/baner2.jpg" />
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    
</div>
<div id="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>
                    Wystawa
                </h3>
                <p>
                    Ideą wystawy, która odbędzie się w Galerii Aula, jest ukazanie dużej ilości
                    i różnorodności twórczej artystów, którzy ukończyli Wydział Edukacji Artystycznej,
                    co podkreśla sam tytuł wystawy – 1438. Tylu bowiem studentów uzyskało tytuł
                    magistra sztuk plastycznych na tym wydziale na przestrzeni 40 lat istnienia
                    Edukacji Artystycznej. Na czas trwania wystawy, Aula zamieni się w interaktywną
                    przestrzeń archiwum, którego kryterium wyboru jest Internet - najpowszechniejsza
                    baza danych w nowoczesnych czasach i miejsce pamięci, które wypiera tradycyjne
                    media. Sam katalog towarzyszący wystawie, będzie znajdował się właśnie na
                    stroni internetowej.
                </p>
                <p>
                    Przestrzeń wystawy będzie się składała z dwóch długich stołów,
                    umiejscowionych na środku pomieszczenia. Pomiędzy nimi zostaną ułożone
                    kartoteki wszystkich studentów Wydziału Edukacji Artystycznej. W ten sposób
                    stworzy się przestrzeń biblioteki, a zarazem archiwum. Widzowie będą mogli
                    szperać w historii osób, które ukończyły studia na tym wydziale. Dodatkowo, będą
                    mogli przeglądać prace absolwentów na tabletach, które będą położone na
                    stołach.
                </p>
                <p>
                    Na jednej ze ścian zostaną postawione regały, gdzie znajdować się będą
                    prace licencjackie oraz magisterskie absolwentów, a także katalogi wydziału, które
                    również będzie można przeglądać. Na ścianie, znajdującej się przy wejściu będzie
                    wyświetlany film przedstawiający wywiady z profesorami, absolwentami,
                    studentami i osobami związanymi z Wydziałem Edukacji Artystycznej.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="section3">
    <div class="container">
        <h3>Archiwum</h3>
        <div id="archiwum-app">
            <div class="years row">

            </div>
            <div class="graduates row">

            </div>
        </div>
        @*<div class="row items">
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div>
                    1978
                </div>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div>
                    1978
                </div>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div>
                    1978
                </div>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div>
                    1978
                </div>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div>
                    1978
                </div>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div>
                    1978
                </div>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div>
                    1978
                </div>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div>
                    1978
                </div>
            </div>
        </div>*@
    </div>
</div>
<div id="section4">
    <div class="container">
        <h3>Galeria</h3>
        <div class="row">
            <div class="col-sm-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="~/Content/Images/galeria.png" />
                                </div>
                                <div class="col-sm-4">
                                    <img src="~/Content/Images/galeria.png" />
                                </div>
                                <div class="col-sm-4">
                                    <img src="~/Content/Images/galeria.png" />
                                </div>
                                <div class="col-sm-4">
                                    <img src="~/Content/Images/galeria.png" />
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section5">
    <div class="container">
        <h3>Katalog</h3>
        <div class="row">
            <div class="col-md-4">
                Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w
                przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez
                nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć
                wieków później zaczął być używany przemyśle elektronicznym,
                pozostając praktycznie niezmienionym. Spopularyzował się w latach 60.
                XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty
                Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum
                oprogramowaniem przeznaczonym do realizacji druków na komputerach
                osobistych, jak Aldus PageMaker
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a href="~/Content/katalog.pdf">
                    <img src="~/Content/Images/downloadable1.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="section6">
    <div class="container">
        <h3>Kontakt</h3>
        <div class="row">
            <div class="col-md-4">
                <address>
                    Tel: 798 403 177<br />
                    Mail: sylwiasiwiak@gmail.com
                </address>
                <div>
                    Kuratorzy projektu:<br />
                    Wydział Edukacji Artystycznej, studentki specjalizacji kuratorskiej Ir. IIst.<br />
                    Paulina Hagedorn, Aleksandra Janz, Aleksandra Jaraszkiewicz, Sylwia Siwiak
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/logo_wea.png" />
            </div>
        </div>
    </div>
</div>
<div id="section7">
    <div class="container">
        <h3>Wsparli projekt:</h3>
        <div class="row">
            <div class="col-md-1">
                Mike :)
            </div>
            <div class="col-md-1">
                Darek :P
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="year-view-template">
    <div class="col-md-1 col-sm-2 col-xs-4 year" data-idy="<%=YearId%>">
        <div>
            <%=Name%>
        </div>
    </div>
</script>
<script type="text/template" id="graduate-view-template">
    <div class="col-md-1 col-sm-2 col-xs-4 year">
        <div>
            <%=FirstName%>
            <%=LastName%>
        </div>
    </div>
</script>


<script>
    $(function () {
        $('.head-link').click(function (e) {
            e.preventDefault();

            var goto = $(this).attr('href');

            $('html, body').animate({
                scrollTop: $(goto).offset().top
            }, 1000);
        });
    })
    
</script>
<script type="text/javascript" src="@Url.Content("~/scripts/bb-archiwum.js")"></script>
<script type="text/javascript">
        (function () {
            new archiwum.app({});
        })();
</script>