#section1 h1{
    margin:0;
    text-align:right;
}
#section1 h2{
    margin:0;
    text-align:right;
}
#section1 h3{
    margin:0;
    text-align:right;
}
#section1 h4{
    margin:0;
    text-align:right;
}
p{
    text-indent:35px;
}
